.ContainerA {
    display: grid;
    position: relative;
    left: 10%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    column-gap: 5%;

    grid-template-areas: "bar1", "Scatter";
}

#bar1 {
    width: fit-content;
}

.axis-label {
    font-size: 11px;
}

.y-label {
    display: inline-block;
    float: left;
    padding-right: 5px;
}

.axis_line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
